/* .side_bar {
    position: fixed;
    background-color:white;
    left: 0;
    bottom: 0;
    top: 50px;
    width: 200px;
    z-index: 200; 
    cursor: pointer;
    padding-top: 5px;   
}
.sidebar_links {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    box-sizing: border-box;
    column-gap: 10px;
} */
.sidebar_links:hover,.sidebar_links img:hover {
    background-color: rgb(230, 226, 226);
    border-radius: 15px;
}
.sidebar_links img {
    height:35px;
    margin-bottom: 4px
}
.side_bar div{
    font-size: 11px;
}



.sidebar_links{
    height: 90px;
    display: flex;
    justify-content:center;
    align-items: center; 
    flex-direction: column; 
}


.side_bar {
    position: fixed;
    background-color:white;
    left: 0;
    bottom: 0;
    top: 50px;
    width: 80px;
    z-index: 200; 
    cursor: pointer;
    padding-top: 5px;   
}